@CHARSET "UTF-8";

body, html {
	margin:0;
	padding:0;
	width:100%;
	height:auto !important;
}

body {
	min-height:100%;
	padding-bottom: 60px !important;
}

#header {
	width:100%;
	height:100px;
	background-color:black;
	min-width:700px;
}

#header-title {
	float:left;
	width:40%;
	padding-top:35px;
}

#header-menu {
	float:right;
	width:60%;
	text-align:right;
	padding-top:20px;

}

#header-menu ul {
	display:inline-block;
}

#header-menu ul li {
	float:left;
	list-style:none;
	padding-right:5px;
}

.clearfix {
    clear: both;
}

#footer {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:50px;
	line-height:50px;
	background-color:black;
	text-align:center;
	color:white;
}

#contents h1 {
	text-align:center;
}

/* productList */

.productList-box img{
	width:200px;
	height:200px;
}

.top h1{
	text-align:center;
}

.pager-top{
	clear:left;
	text-align : center;
	font-size : 25px;
	margin-bottom:7px;
}

#num{
	display:inline-block;
	width:20px;
}

.pager-bottom{
	clear:left;
	text-align : center;
	font-size : 25px;
}

.flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.productList-box ul li {
	display:block;
	list-style-type:none;
	text-align:center;
}

.productList-box a {
	text-decoration:none;
}

.productList-box {
	width:32%;
	height:29%;
	text-align:center;
}

/* productDetails */

.productDetails-main{
 	margin-top:50px;
	width:60%;
	padding:20px;
	margin-bottom:60px;
	float:left;
	margin-left:15%;
	min-width:600px;
}

.productDetails-left {
	float:left;
	width:50%;
	height:50%;
	text-align:center;
	margin-bottom:30px;
}

.productDetails-left img {
	width:70%;
	height:70%;
}

.productDetails-right {
	float:left;
	width:40%;
	height:40%;
	margin-bottom:30px;
}

.productDetails-right table th {
	text-align:right;
	width:7em;
}

.productDetails-right .submit_btn {
	margin-top:10px;
	margin-left:60px;
}

.productDetails-recommend {
	clear:left;
}

.productDetails-recommend h4 {
	text-align:center;
}

.recommend-box{
	float : left;
	width : 33%;
	height : 40%;
	text-align:center;
}

.recommend-box img {
	width:50%;
	height:50%;
}

#contents {
	text-align:center;
	width:60%;
	margin:50px auto 70px;
	padding:10px 20px;
	min-width:600px;
}

.login-table {
	display:inline-block;
}

.logintable th {
    text-align: right;
}

#contents-btn-set {
	margin-top:15px;
}